<section class="c-hp-posts-section bg-white bb-section">
  <div class="container">
    <div class="row c-hp-posts-section__inner gx-6 mb-6 gy-6">
      <div class="col-12 col-xl-3 col-sm-6">
        <article class="post">
          <a href="#" class="post__link">
            <div class="category text-white bg-dark">Aktuality</div>

            <div class="post__img">
              <img src="images/content/clanek2.png" loading="lazy" alt="" />
            </div>
            <div class="post__info">
              <div class="date">16. 12. 2021</div>
              <h4 class="h5">Nábor do prípravky</h4>
              <p class="p2">
                Královohradecký tým představuje první zahraniční posilu pro
                nadcházející ročník Kooperativa NBL. Tím je 25letý chorvatský
                guard Lovro Mandalinić…
              </p>
            </div>
          </a>
        </article>
      </div>
      <div class="col-12 col-xl-3 col-sm-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-12 col-xl-3 col-sm-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-12 col-xl-3 col-sm-6">
        {% include "@components/post/post.twig" %}
      </div>
    </div>
    <a href="#" class="btn btn--arrow">Staršie články </a>
  </div>
</section>

 
 