.c-match {
  background-color: var(--color-gray-dark);
  border: 1px solid var(--color-white);
  padding: 32px;
  position: relative;
  display: flex;
  text-decoration: none;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
  &:hover {
    .h5 {
      text-decoration-color: inherit;
    }
  }
  &__logos {
    display: flex;
    @include media-breakpoint-down(md) {
      justify-content: center;
      margin-bottom: 24px;
    }
  }
  &__logo {
    height: 80px;
    width: 80px;
    background-color: var(--color-white);
    border-radius: 50%;
    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    & + & {
      margin-left: -28px;
    }
  }
  &__inner {
    color: var(--color-white);
    padding-left: 16px;
    width: 100%;
    ul {
      display: flex;
      margin-left: -8px;
      margin-right: -8px;
      flex-wrap: wrap;
      text-align: center;
      @include media-breakpoint-down(md) {
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 16px;
      }
      li {
        padding: 0 8px;
        margin-bottom: 8px;
        letter-spacing: -1px;
        display: inline-block;
        font-feature-settings: "zero" on;
        -moz-font-feature-settings: "zero" on;
        font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        position: relative;
      }
      li + li {
        &::before {
          content: "";
          position: absolute;
          left: 0;
          width: 2px;
          height: 2px;
          left: 0;
          top: 6px;
          border-radius: 50%;
          background-color: var(--color-white);
        }
      }
    }
  }
  &__info {
    display: flex;
    width: 100%;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      text-align: center;
    }
    .h5 {
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: all 0.3s;
    }
  }
  &__result {
    margin-left: auto;
    display: block;
    padding-left: 8px;
    @include media-breakpoint-down(md) {
      margin: 0 auto;
      padding-left: 0;
      margin-top: 16px;
    }
  }
}

.galaktik {
  position: relative;
  z-index: 5;
}
