<div class="hp-gallery">
  <div class="hp-gallery__inner bb-section js-gallery">
    <figure>
      <a href="images/content/clanek.png" data-size="1024x680">
        <img src="images/content/clanek.png" loading="lazy" alt="" />
        <span class="category bg-white text-dark">Instagram</span>
      </a>
    </figure>
    <figure>
      <a href="images/content/clanek2.png" data-size="1024x680">
        <img src="images/content/clanek2.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/clanek3.png" data-size="1024x680">
        <img src="images/content/clanek3.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/clanek.png" data-size="1024x680">
        <img src="images/content/clanek.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/clanek.png" data-size="1024x680">
        <img src="images/content/clanek.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/clanek.png" data-size="1024x680">
        <img src="images/content/clanek.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/clanek.png" data-size="1024x680">
        <img src="images/content/clanek.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/clanek2.png" data-size="1024x680">
        <img src="images/content/clanek2.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/clanek3.png" data-size="1024x680">
        <img src="images/content/clanek3.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/clanek.png" data-size="1024x680">
        <img src="images/content/clanek.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/clanek2.png" data-size="1024x680">
        <img src="images/content/clanek2.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/clanek3.png" data-size="1024x680">
        <img src="images/content/clanek3.png" loading="lazy" alt="" />
      </a>
    </figure>
  </div>
</div>
