<section class="c-team-section team">
  <div class="c-team-section__items">
    <div class="container">
      <div class="row gx-10">
        <div class="col-xl-8">
          <div class="header-section">
            <h1 class="h1 mb-4">Soupiska</h1>
            <form action="" class="w-auto d-flex header-section__form">
              <label class="o-select header-section__label">
                <select class="js-select">
                  <option>2021/22</option>
                  <option value="tipsport">2020/21</option>
                  <option value="tipsport">2019/20</option>
                  <option value="tipsport">2018/19</option>
                  <option value="tipsport">2017/18</option>
                </select>
              </label>
            </form>
          </div>
          <h2 class="h2 mb-4" id="brankari">Brankáři</h2>
          <ul class="row">
            <li class="col-sm-6">
              <div class="c-team__item">
                <div class="c-team__img">
                  <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                  <span>33</span>
                </div>
                <div class="c-team__info">
                  <span>Karel Novotný</span>
                  <p class="p2">21 let / 177 cm / 76 kg / L</p>
                </div>
              </div>
            </li>

            <li class="col-sm-6">
              <div class="c-team__item">
                <div class="c-team__img">
                  <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                  <span>33</span>
                </div>
                <div class="c-team__info">
                  <span>Karel Novotný</span>
                  <p class="p2">21 let / 177 cm / 76 kg / L</p>
                </div>
              </div>
            </li>
            <li class="col-sm-6">
              <div class="c-team__item">
                <div class="c-team__img">
                  <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                  <span>33</span>
                </div>
                <div class="c-team__info">
                  <span>Karel Novotný</span>
                  <p class="p2">21 let / 177 cm / 76 kg / L</p>
                </div>
              </div>
            </li>
          </ul>
          <h2 class="h2 mb-4" id="obranci">Obránci</h2>
          <ul class="row">
            <li class="col-sm-6">
              <div class="c-team__item">
                <div class="c-team__img">
                  <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                  <span>33</span>
                </div>
                <div class="c-team__info">
                  <span>Karel Novotný</span>
                  <p class="p2">21 let / 177 cm / 76 kg / L</p>
                </div>
              </div>
            </li>
            <li class="col-sm-6">
              <div class="c-team__item">
                <div class="c-team__img">
                  <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                  <span>33</span>
                </div>
                <div class="c-team__info">
                  <span>Karel Novotný</span>
                  <p class="p2">21 let / 177 cm / 76 kg / L</p>
                </div>
              </div>
            </li>
            <li class="col-sm-6">
              <div class="c-team__item">
                <div class="c-team__img">
                  <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                  <span>33</span>
                </div>
                <div class="c-team__info">
                  <span>Karel Novotný</span>
                  <p class="p2">21 let / 177 cm / 76 kg / L</p>
                </div>
              </div>
            </li>
            <li class="col-sm-6">
              <div class="c-team__item">
                <div class="c-team__img">
                  <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                  <span>33</span>
                </div>
                <div class="c-team__info">
                  <span>Karel Novotný</span>
                  <p class="p2">21 let / 177 cm / 76 kg / L</p>
                </div>
              </div>
            </li>
            <li class="col-sm-6">
              <div class="c-team__item">
                <div class="c-team__img">
                  <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                  <span>33</span>
                </div>
                <div class="c-team__info">
                  <span>Karel Novotný</span>
                  <p class="p2">21 let / 177 cm / 76 kg / L</p>
                </div>
              </div>
            </li>
            <li class="col-sm-6">
              <div class="c-team__item">
                <div class="c-team__img">
                  <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                  <span>33</span>
                </div>
                <div class="c-team__info">
                  <span>Karel Novotný</span>
                  <p class="p2">21 let / 177 cm / 76 kg / L</p>
                </div>
              </div>
            </li>
            <li class="col-sm-6">
              <div class="c-team__item">
                <div class="c-team__img">
                  <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                  <span>33</span>
                </div>
                <div class="c-team__info">
                  <span>Karel Novotný</span>
                  <p class="p2">21 let / 177 cm / 76 kg / L</p>
                </div>
              </div>
            </li>
            <li class="col-sm-6">
              <div class="c-team__item">
                <div class="c-team__img">
                  <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                  <span>33</span>
                </div>
                <div class="c-team__info">
                  <span>Karel Novotný</span>
                  <p class="p2">21 let / 177 cm / 76 kg / L</p>
                </div>
              </div>
            </li>
          </ul>
          <h2 class="h2 mb-4" id="utocnici">Útočníci</h2>
          <ul class="row">
            <li class="col-sm-6">
              <div class="c-team__item">
                <div class="c-team__img">
                  <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                  <span>33</span>
                </div>
                <div class="c-team__info">
                  <span>Karel Novotný</span>
                  <p class="p2">21 let / 177 cm / 76 kg / L</p>
                </div>
              </div>
            </li>
            <li class="col-sm-6">
              <div class="c-team__item">
                <div class="c-team__img">
                  <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                  <span>33</span>
                </div>
                <div class="c-team__info">
                  <span>Karel Novotný</span>
                  <p class="p2">21 let / 177 cm / 76 kg / L</p>
                </div>
              </div>
            </li>
            <li class="col-sm-6">
              <div class="c-team__item">
                <div class="c-team__img">
                  <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                  <span>33</span>
                </div>
                <div class="c-team__info">
                  <span>Karel Novotný</span>
                  <p class="p2">21 let / 177 cm / 76 kg / L</p>
                </div>
              </div>
            </li>
            <li class="col-sm-6">
              <div class="c-team__item">
                <div class="c-team__img">
                  <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                  <span>33</span>
                </div>
                <div class="c-team__info">
                  <span>Karel Novotný</span>
                  <p class="p2">21 let / 177 cm / 76 kg / L</p>
                </div>
              </div>
            </li>
            <li class="col-sm-6">
              <div class="c-team__item">
                <div class="c-team__img">
                  <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                  <span>33</span>
                </div>
                <div class="c-team__info">
                  <span>Karel Novotný</span>
                  <p class="p2">21 let / 177 cm / 76 kg / L</p>
                </div>
              </div>
            </li>
            <li class="col-sm-6">
              <div class="c-team__item">
                <div class="c-team__img">
                  <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                  <span>33</span>
                </div>
                <div class="c-team__info">
                  <span>Karel Novotný</span>
                  <p class="p2">21 let / 177 cm / 76 kg / L</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        {% include "@components/aside/aside2.twig" %}
      </div>
    </div>
  </div>
</section>
