<div class="col-xl-4 d-xl-block d-none">
  <aside class="aside">
    <h3 class="h3">Mládež</h3>
    <ul class="aside__menu">
      <li>
        <a class="active" href="#">Soupiska</a>
      </li>
      <li>
        <a href="#">Realizační tým</a>
      </li>
      <li>
        <a href="#">Změny v kádru</a>
      </li>
      <li>
        <a href="#">B-tým</a>
      </li>
    </ul>

    {% include "@components/post/post.twig" %}
  </aside>
</div>
