<div class="col-xl-4 d-xl-block d-none">
  <aside class="aside">
    <h3 class="h3">Klub</h3>
    <ul class="aside__menu">
      <li>
        <a class="active" href="#">O nás</a>
      </li>
      <li>
        <a href="#">Historie</a>
      </li>
      <li>
        <a href="#">Na stiahnutie</a>
      </li>
      <li>
        <a href="#">Vedenie klubu</a>
      </li>
      <li>
        <a href="#">Osobnosti klubu</a>
      </li>
      <li>
        <a href="#">Nejčastějšie dotazy</a>
      </li>
      <li>
        <a href="#">Kontakty & informácie</a>
      </li>
      <li>
        <a href="#">Práca & Kariéra</a>
      </li>
      <li>
        <a href="#">GDPR</a>
      </li>
      <li>
        <a href="#">Tréningové centrá & infraštruktúra</a>
      </li>
      <li>
        <a href="#">Dobrovoľníci</a>
      </li>
    </ul>
  </aside>
</div>
