.aside__menu {
  margin-bottom: 40px;
  li {
    display: block;
    border-bottom: 1px solid rgba(#897e7e, 0.2);
    padding: 8px 0;
    margin-bottom: 8px;

    &:last-child {
      border: 0;
    }
    a {
      display: block;
      font-size: 18px;
      line-height: 1.131;
      text-decoration-color: transparent;
      position: relative;
      padding-left: 24px;
      padding-bottom: 4px;
      line-height: 125%;
      &::before {
        content: "";
        background-color: var(--color-primary);
        position: absolute;
        top: 4px;
        left: 0;
        width: 8px;
        height: 8px;
      }
      &:hover {
        text-decoration-color: inherit;
      }
    }
    .active {
      font-weight: 600;
    }
  }
}

.aside {
  padding-top: 16px;

  .h3 {
    margin-bottom: 24px;
  }
}
