<section class="c-match-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-12 mx-auto">
        <div class="c-match-section__inner">
          <div class="p2 zero mb-4">kolo FNL, sobota 19:00</div>
          <div class="row justify-content-center">
            <div class="col-lg-5 col-6 c-match-section__left">
              <div class="c-match-section__team">
                <h2 class="h5">FK Galaktik</h2>
                <div class="c-match-section__team-logo">
                  <img
                    src="images/content/logotype.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-2 c-match-section__score">
              <div class="num">2:1</div>
              <p class="p2 zero">(0:0)</p>
            </div>
            <div class="col-lg-5 col-6 c-match-section__right">
              <div class="c-match-section__team">
                <div class="c-match-section__team-logo">
                  <img
                    src="images/content/club2.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <h2 class="h5">MFK Vyškov</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="border-date mb-8">
          <div class="date">Branky a další statistiky</div>
          <p class="p2">statistics</p>
        </div>
        <div class="row">
          <div class="col-md-6 mb-8">
            <div class="border-date">
              <div class="date">Sestavy</div>
              <p class="p2">
                Kinský – Ilko, Němeček (76. Oulehla), Fofana, Štěpánek (C) –
                Lahodný (87. Cabadaj), Weber (65. Moučka) – Kanakimana, Krška,
                Lacík (77. Klesa) – Kratochvíla (65. Vintr).
              </p>
            </div>
          </div>
          <div class="col-md-6 mb-8">
            <div class="border-date">
              <p class="p2">
                Kinský – Ilko, Němeček (76. Oulehla), Fofana, Štěpánek (C) –
                Lahodný (87. Cabadaj), Weber (65. Moučka) – Kanakimana, Krška,
                Lacík (77. Klesa) – Kratochvíla (65. Vintr).
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
