<section class="c-article-top-section bg-dark pt-section">
  <div class="container">
    <div class="row gx-8">
      <div class="col-12">
        <h1 class="mb-8 text-white h1">
          Turínsky Juventus a košický Galaktik chystajú futbalový kemp
        </h1>
      </div>
      <ul class="c-article-top-section__tags">
        <li>
          <div class="date">20. srpna 2022</div>
        </li>
        <li>
          <div class="date">U12</div>
        </li>
        <li>
          <div class="date">Autor: Karel Novotny</div>
        </li>
      </ul>
      <div class="perex">
        Citace a perex – Lorem, ipsum dolor sit amet consectetur adipisicing
        elit. Fugit laborum quia repellendus maxime obcaecati neque
        perspiciatis ad sapiente ipsum error
      </div>
      <div class="col-12">
        <div class="c-article-top-section__img">
          <img src="images/content/clanek.png" loading="lazy" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
