.c-article-top-section {
  &__img {
    aspect-ratio: 1225/612;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .perex {
    color: var(--color-white);
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
    li {
      padding: 0 8px;
      margin-bottom: 16px;
      .date {
        background-color: var(--color-white);
        color: var(--color-dark);
      }
    }
  }
}
