<div class="c-album-section">
  <div class="container">
    <div class="grid-wrapper" id="lightgallery">
      <a
        class="grid-item grid-item-1"
        data-gallery="1"
        data-gallery-id="1"
        href="#"
      >
        <img loading="lazy" src="images/content/clanek.png" alt="" />
      </a>
      <a
        class="grid-item grid-item-2"
        data-gallery="1"
        data-gallery-id="1"
        href="#"
      >
        <img loading="lazy" src="images/content/clanek.png" alt="" />
      </a>

      <a
        class="grid-item grid-item-3"
        data-gallery="1"
        data-gallery-id="1"
        href="#"
      >
        <img loading="lazy" src="images/content/clanek.png" alt="" />
      </a>
      <a class="grid-item" data-gallery="1" data-gallery-id="1" href="#">
        <img loading="lazy" src="images/content/clanek.png" alt="" />
      </a>
      <a class="grid-item" data-gallery="1" data-gallery-id="1" href="#">
        <img loading="lazy" src="images/content/clanek.png" alt="" />
      </a>
      <a
        class="grid-item grid-item-2"
        data-gallery="1"
        data-gallery-id="1"
        href="#"
      >
        <img loading="lazy" src="images/content/clanek.png" alt="" />
      </a>
      <a class="grid-item" data-gallery="1" data-gallery-id="1" href="#">
        <img loading="lazy" src="images/content/clanek.png" alt="" />
      </a>
      <a class="grid-item" data-gallery="1" data-gallery-id="1" href="#">
        <img loading="lazy" src="images/content/clanek.png" alt="" />
        <div class="c-album-section__number text-white">
          <span class="num">34</span>
          dalších
        </div>
      </a>
    </div>
  </div>
</div>
