.pub {
  padding: 56px 0;
  @include media-breakpoint-down(lg) {
    padding: 32px 0;
  }
  a {
    display: block;
    aspect-ratio: 1224/160;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.multi-pub {
  padding-top: 40px;
  padding-bottom: 66px;
  @include media-breakpoint-down(lg) {
    padding-bottom: 56px;
  }
  a {
    aspect-ratio: 392/160;
  }
}
.pub-slider {
  .slick-track {
    display: flex;
    gap: 24px;
  }
}
