/*! purgecss start ignore */
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--color-primary);
}
.select2-container {
  .select2-selection--single {
    height: auto;
    padding: 1px 38px 2px 16px;
    border-color: var(--color-primary);
    outline: solid transparent 1px;
    transition: all 0.3s;
  }
}
.select2-container--open {
  .select2-selection--single {
    border-color: var(--color-primary);
    outline-color: var(--color-primary);
  }
}
.-error {
  .select2-container {
    .select2-selection--single {
      border-color: var(--color-error);
      outline-color: var(--color-error);
    }
  }
}
.-disabled {
  cursor: not-allowed;
  * {
    cursor: not-allowed;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: var(--color-primary);
    font-weight: 700;
  }
  .select2-container {
    .select2-selection--single {
      background-color: var(--color-light);

      b {
        opacity: 0.2;
      }
    }
  }
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  right: 24px;
  width: 24px;
  height: 24px;
  top: -0px;
  b {
    background-image: url("../images/ico/chevron.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 24px;
    margin-top: -4px;
    height: 24px;
  }
}
.select2-dropdown {
  top: 2px;
  border: 0;
  border-radius: 4px;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);
}
.select2-results__options {
  font-size: 12px;

  > li {
    padding: 8px 16px;
    border-bottom: 1px solid rgba(#897e7e, 0.2);
    > span {
      align-items: center;
      display: flex;
      width: 100%;
      img {
        margin-right: 16px;
      }
    }
  }
  .select2-results__option--selected {
    background-color: var(--color-primary) !important;
    color: var(--color-light);
    font-weight: 700;
  }
  .select2-results__option--highlighted  {
    background-color: var(--color-primary) !important;
  }
}
.select2-container .select2-selection--single .select2-selection__rendered {
  color: var(--color-primary);
  font-size: 14px;
  padding: 0;
  padding-top: 3px;
}
.select2-container--default .select2-selection--single {
  border: 2px solid var(--color-primary);
  height: 40px;
  border-radius: 0;
}
/*! purgecss end ignore */
