<section class="c-partners-section">
  <div class="container">
    <div class="row gx-10">
      <div class="col-xl-8">
        <div class="shadow-wrapper pb-2">
          <h1 class="h1 mb-8">Partneři</h1>
          <div class="row mb-4 c-partners-section__row">
            <div class="col-6 col-sm-4 col-md-3 mb-4">
              <a
                class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
                href="#"
                target="_blank"
              >
                <img src="images/content/partner-1.png" class="w-100" alt="" />
              </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mb-4">
              <a
                class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
                href="#"
                target="_blank"
              >
                <img src="images/content/partner-3.png" class="w-100" alt="" />
              </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mb-4">
              <a
                class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
                href="#"
                target="_blank"
              >
                <img src="images/content/partner-2.png" class="w-100" alt="" />
              </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mb-4">
              <a
                class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
                href="#"
                target="_blank"
              >
                <img src="images/content/partner-4.png" class="w-100" alt="" />
              </a>
            </div>
          </div>
          <h2 class="h4 mb-4">Partneři FK Galaktik</h2>
          <div class="row mb-4 c-partners-section__row">
            <div class="col-6 col-sm-4 col-md-3 mb-4">
              <a
                class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
                href="#"
                target="_blank"
              >
                <img src="images/content/partner-5.png" class="w-100" alt="" />
              </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mb-4">
              <a
                class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
                href="#"
                target="_blank"
              >
                <img src="images/content/partner-1.png" class="w-100" alt="" />
              </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mb-4">
              <a
                class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
                href="#"
                target="_blank"
              >
                <img src="images/content/partner-6.png" class="w-100" alt="" />
              </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mb-4">
              <a
                class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
                href="#"
                target="_blank"
              >
                <img src="images/content/partner-2.png" class="w-100" alt="" />
              </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mb-4">
              <a
                class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
                href="#"
                target="_blank"
              >
                <img src="images/content/partner-1.png" class="w-100" alt="" />
              </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mb-4">
              <a
                class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
                href="#"
                target="_blank"
              >
                <img src="images/content/partner-2.png" class="w-100" alt="" />
              </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mb-4">
              <a
                class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
                href="#"
                target="_blank"
              >
                <img src="images/content/partner-5.png" class="w-100" alt="" />
              </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mb-4">
              <a
                class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
                href="#"
                target="_blank"
              >
                <img src="images/content/partner-1.png" class="w-100" alt="" />
              </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mb-4">
              <a
                class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
                href="#"
                target="_blank"
              >
                <img src="images/content/partner-6.png" class="w-100" alt="" />
              </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mb-4">
              <a
                class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
                href="#"
                target="_blank"
              >
                <img src="images/content/partner-2.png" class="w-100" alt="" />
              </a>
            </div>
          </div>
          <h3 class="h4 mb-4">Mediální partneři</h3>
          <div class="row mb-4 c-partners-section__row">
            <div class="col-6 col-sm-4 col-md-3 mb-4">
              <a
                class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
                href="#"
                target="_blank"
              >
                <img src="images/content/partner-5.png" class="w-100" alt="" />
              </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mb-4">
              <a
                class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
                href="#"
                target="_blank"
              >
                <img src="images/content/partner-1.png" class="w-100" alt="" />
              </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mb-4">
              <a
                class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
                href="#"
                target="_blank"
              >
                <img src="images/content/partner-6.png" class="w-100" alt="" />
              </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mb-4">
              <a
                class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
                href="#"
                target="_blank"
              >
                <img src="images/content/partner-2.png" class="w-100" alt="" />
              </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mb-4">
              <a
                class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
                href="#"
                target="_blank"
              >
                <img src="images/content/partner-1.png" class="w-100" alt="" />
              </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mb-4">
              <a
                class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
                href="#"
                target="_blank"
              >
                <img src="images/content/partner-2.png" class="w-100" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
      {% include "@components/aside/aside.twig" %}
    </div>
  </div>
</section>
