.c-partners-section {
  padding-top: 56px;
  padding-bottom: 40px;
  &__row {
    a {
      display: block;
      padding: 12px;
      background: #fff;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
