.header {
  &__logos {
    display: flex;
    li {
      padding: 0 4px;
      a {
        width: 24px;
        height: 24px;
        display: block;
        img,
        svg {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  &__nav {
    border-bottom: 2px solid var(--color-dark);
    background: var(--color-primary);
    @include media-breakpoint-down(xl) {
      .container {
        padding: 0;
      }
    }
  }
  &__top {
    background-color: var(--color-dark);
    @include media-breakpoint-down(sm) {
      display: none;
    }
    &-links {
      display: flex;
      align-items: center;
      height: 100%;
      @include media-breakpoint-down(lg) {
        display: none;
      }
      li {
        padding: 0 12px;
        display: block;
        a {
          display: block;
          height: 24px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
  &__top-inner {
    display: flex;
    justify-content: space-between;
    height: 32px;
    align-items: center;
    padding-left: 204px;
    @include media-breakpoint-down(xl) {
      padding-left: 120px;
    }
    @include media-breakpoint-down(lg) {
      justify-content: flex-end;
    }
    .social {
      padding-left: 104px;
      margin-left: -8px;
      margin-right: -8px;
      @include media-breakpoint-down(xl) {
        display: none;
      }
    }
  }
  &__top-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    @include media-breakpoint-down(xl) {
      order: -1;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
  }

  .navbar-expand-lg {
    @include media-breakpoint-only(lg) {
      flex-wrap: wrap;
    }
    .navbar-collapse {
      @include media-breakpoint-down(xl) {
        position: absolute;
        top: 100%;
        right: 0px;
        z-index: 99;
        width: 19rem;
        padding: 1rem 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        flex-wrap: wrap;
        border-bottom: 2px solid var(--color-dark);
        background-color: var(--color-dark);
      }
      @include media-breakpoint-down(md) {
        width: 100% !important;
        right: 0 !important;
        box-shadow: none !important;
      }
    }
  }
}
.header__logo {
  position: absolute;
  left: -22px;
  top: -32px;
  width: 182px;
  height: 120px;
  object-fit: contain;
  z-index: 999;

  @media only screen and (min-width: 540px) and (max-width: 1200px) {
    width: 130px;
    height: 90px;
    left: 0;
    top: -28px;
  }
  @include media-breakpoint-down(sm) {
    top: -8px;
    left: -6px;
    width: 120px;
    height: 90px;
  }
  svg,
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }
}
.is-nav-open .header .navbar-expand-lg .navbar-collapse {
  @include media-breakpoint-down(xl) {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    height: auto;
    background-color: var(--color-dark);
  }
}
.c-header__opener {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 0.0625rem solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  display: block;
  position: relative;
  margin-left: auto;
  @include media-breakpoint-down(sm) {
    padding: 0.25rem 1rem;
  }
  span {
    width: 24px;
    height: 3px;
    background: #fff;
    transform: translateY(-1px);
    box-shadow: 0 2px 5px rgba(255, 103, 47, 0.2);
    display: block;
    transition: all 0.3s;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 3px;
      background: #fff;
      left: 0;
      right: 0;
      transition: all 0.3s;
      box-shadow: 0 2px 5px rgba(255, 103, 47, 0.2);
    }
    &::before {
      transform: translateY(-7px);
    }
    &::after {
      transform: translateY(7px);
    }
  }
  &:focus {
    box-shadow: none;
  }

  @include media-breakpoint-only(xl) {
    display: none;
  }
  @include media-breakpoint-only(xxl) {
    display: none;
  }
}
.collapse:not(.show) {
  display: flex;
}
.navbar {
  position: relative;
  padding-left: 204px;
  display: flex;
  align-items: center;
  height: 56px;
  @media only screen and (min-width: 540px) and (max-width: 1200px) {
    height: 40px;
  }
  @include media-breakpoint-down(sm) {
    height: 54px;
  }
  &-nav {
    display: flex;
    height: 100%;
    align-items: center;
    @include media-breakpoint-down(xl) {
      flex-direction: column !important;
      text-align: center;
      width: 100%;
      margin-bottom: 24px;
    }
  }
  &-collapse {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: center;
  }
}
.nav-link {
  color: var(--color-light);
  font-size: 18px;
  padding-left: 26px;
  padding-right: 26px;
  font-weight: 700;
  line-height: 23px;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.3s;
  position: relative;
  position: relative;
  border-bottom: 4px solid transparent;
  padding-top: 12px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 26px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--color-dark);
    @include media-breakpoint-down(xl) {
      display: none;
    }
  }
  @include media-breakpoint-down(xl) {
    border: none;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
  }

  &:focus,
  &:hover {
    color: var(--color-light);
    background-color: var(--color-green-dark);
    border-bottom: 4px solid var(--color-light);
  }

  @include media-breakpoint-down(xl) {
    color: var(--color-light);
  }
  &.show {
    color: var(--color-light);
    background-color: var(--color-green-dark);
  }
}

.nav-item {
  height: 100%;
  display: flex;
  align-items: center;
  @include media-breakpoint-down(xl) {
    display: block;
    width: 100%;
  }
  &:first-child .nav-link {
    padding-left: 4px;
  }
  &:first-child .nav-link::before {
    display: none;
  }
}

.dropdown {
  &-toggle {
    &::after {
      display: none;
    }
  }
  &-menu {
    z-index: 4;
    position: absolute;
    min-width: 7rem;
    border-radius: 0;
    top: 100%;
    background-image: url("../images/content/submenu-bg.png");
    border-bottom: 2px solid var(--color-dark);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    left: 0;
    right: 0;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: var(--color-white);
    padding-top: 46px;
    padding-bottom: 32px;
    padding-left: 200px;
    padding-right: 200px;
    flex-wrap: wrap;
    justify-content: flex-start;
    display: none;
    @include media-breakpoint-down(xl) {
      text-align: center;
      position: static;
      box-shadow: none;
      background-image: none;
      border-bottom: none;
      padding-left: 0;
      padding-right: 0;
      padding-top: 24px;
      border: none;
      &.show {
        display: block;
      }
    }
    @include media-breakpoint-down(lg) {
      display: none;
      &.show {
        display: block;
      }
    }
    li {
      margin-bottom: 7px;
      flex: 0 0 33.333%;
      max-width: 33.333%;
      padding: 0 7px;
      @include media-breakpoint-down(xl) {
        flex: 100%;
        max-width: 100%;
        margin-bottom: 12px;
      }
      &:last-child {
        margin-bottom: 0;
        .dropdown-item {
          border-bottom: none;
          padding-bottom: 0;
        }
      }
    }
    &[data-bs-popper] {
      margin-top: 0;
    }
  }
  &-item {
    font-size: 14px;
    color: var(--color-light);
    padding-bottom: 5px;
    display: block;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0px;
    line-height: 21px;
    text-decoration-color: transparent;
    max-width: 200px;
    @include media-breakpoint-down(xl) {
      max-width: 300px;
      margin: 0 auto;
    }
    &:hover {
      text-decoration-color: inherit;
    }
  }
}
.social-mob {
  display: none;
  @include media-breakpoint-down(xl) {
    display: block;
    margin: 0 auto;
    svg {
      display: block;
    }
  }
}
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
    &.show {
      display: flex;
    }
  }
  .nav-item:hover .dropdown-menu {
    display: flex;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
.c-header__opener.is-open {
  span {
    border-color: var(--color-primary);
    background: var(--color-primary);
  }
  span:before {
    transform: rotate(45deg);
  }
  span:after {
    transform: rotate(-45deg);
  }
}
