.matches__menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 31px;
  padding-bottom: 16px;
  border-bottom: 0.0625rem solid rgba(137, 126, 126, 0.2);
  .active {
    font-weight: 500;
    text-decoration-color: transparent;
  }
  li {
    padding: 0 8px;

    a {
    }
  }
}
.c-matches-section {
  &__scores {
    @include media-breakpoint-down(md) {
      display: flex;
      justify-content: center;
      div {
        padding: 0 4px;
      }
      div:first-child {
        position: relative;
        padding-right: 8px;
        &::before {
          content: ":";
          position: absolute;
          right: 0;
          top: -2px;
          color: var(--color-primary);
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }
  .report {
    font-size: 18px;
    letter-spacing: 0.23px;
    width: 85%;
    padding: 12px 22px;
    background-color: var(--color-primary);
    color: #fff;
    text-decoration-color: transparent;
    font-weight: 500;
    display: block;
    margin: 0 auto;
  }
  .score2 {
    font-weight: 700;
  }
  .header-section__row {
    margin-bottom: 16px;
  }
  &__item {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #f0f0f0;
  }
  &__date {
    font-weight: 700;
  }
  &__teams {
    @include media-breakpoint-down(md) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      div {
        padding: 0 8px;
      }
      div:first-child {
        position: relative;
        padding-right: 16px;
        &::before {
          content: "-";
          position: absolute;
          right: 0;
          top: 0;
          color: var(--color-primary);
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
  }
  &__logos {
    img {
      width: 56px;
    }
    p {
      color: #f0f0f0;
      font-size: 48px;
      font-style: italic;
      font-weight: bold;
      letter-spacing: -0.65px;
      padding-left: 4px;
      padding-right: 8px;
    }
  }
}
