<section class="c-matches-section bb-section pt-section pb-10">
  <div class="container">
    <div class="row gx-10">
      <div class="col-12">
        <h1 class="h1 mb-8">Zápasy</h1>
        <div class="header-section__row">
          <form action="" class="header-section__form">
            <div class="row gy-6">
              <div class="col-sm-4">
                <label class="o-select header-section__label">
                  <select class="js-select">
                    <option>Kategorie</option>
                    <option>Kategorie 1</option>
                    <option>Kategorie 2</option>
                    <option>Kategorie 3</option>
                    <option>Kategorie 4</option>
                  </select>
                </label>
              </div>
              <div class="col-sm-4">
                <label class="o-select header-section__label">
                  <select class="js-select">
                    <option>Sezóna</option>
                    <option>Sezóna 1</option>
                    <option>Sezóna 2</option>
                    <option>Sezóna 3</option>
                    <option>Sezóna 4</option>
                    <option>Sezóna 5</option>
                    <option>Sezóna 6</option>
                  </select>
                </label>
              </div>
            </div>
          </form>
        </div>
        <ul class="matches__menu">
          Zobrazit:

          <li class="active">
            <a href="#">Všechny</a>
          </li>
          |
          <li class="">
            <a href="#">Pouze domácí</a>
          </li>
          |
          <li class="">
            <a href="#">Pouze venku</a>
          </li>
        </ul>

        <div class="c-matches-section__item row align-items-center">
          <div
            class="c-matches-section__info col-md-3 text-center text-lg-left mb-3 mb-lg-0"
          >
            <p class="oznaceni mb-0">2. kolo</p>
            <p class="c-matches-section__date mb-0">so 13. 8. 2022</p>
          </div>
          <div
            class="c-matches-section__logos col-md-3 d-flex align-items-center justify-content-center justify-content-lg-start mb-3 mb-lg-0"
          >
            <img src="images/content/logotype.png" loading="lazy" alt="logo" />
            <p>vs</p>
            <img src="images/content/logotype.png" loading="lazy" alt="logo" />
          </div>
          <div
            class="c-matches-section__teams col-md-2 text-center text-lg-left mb-3 mb-lg-0"
          >
            <div class="team1 mb-0">FK Galaktik</div>
            <div class="team2 mb-0">FK Galaktik</div>
          </div>
          <div
            class="c-matches-section__scores col-md-1 lost text-center text-lg-left mb-3 mb-lg-0"
          >
            <div class="score1 mb-0">0</div>
            <div class="score2 mb-0">3</div>
          </div>
          <div class="col-md-3 text-center mb-3 mb-lg-0">
            <a href="#" class="report">Report ze zápasu</a>
          </div>
        </div>
        <div class="c-matches-section__item row align-items-center">
          <div
            class="c-matches-section__info col-md-3 text-center text-lg-left mb-3 mb-lg-0"
          >
            <p class="oznaceni mb-0">2. kolo</p>
            <p class="c-matches-section__date mb-0">so 13. 8. 2022</p>
          </div>
          <div
            class="c-matches-section__logos col-md-3 d-flex align-items-center justify-content-center justify-content-lg-start mb-3 mb-lg-0"
          >
            <img src="images/content/logotype.png" loading="lazy" alt="logo" />
            <p>vs</p>
            <img src="images/content/logotype.png" loading="lazy" alt="logo" />
          </div>
          <div
            class="c-matches-section__teams col-md-2 text-center text-lg-left mb-3 mb-lg-0"
          >
            <div class="team1 mb-0">FK Galaktik</div>
            <div class="team2 mb-0">FK Galaktik</div>
          </div>
          <div
            class="c-matches-section__scores col-md-1 lost text-center text-lg-left mb-3 mb-lg-0"
          >
            <div class="score1 mb-0">0</div>
            <div class="score2 mb-0">3</div>
          </div>
          <div class="col-md-3 text-center mb-3 mb-lg-0">
            <a href="#" class="report">Report ze zápasu</a>
          </div>
        </div>
        <div class="c-matches-section__item row align-items-center">
          <div
            class="c-matches-section__info col-md-3 text-center text-lg-left mb-3 mb-lg-0"
          >
            <p class="oznaceni mb-0">2. kolo</p>
            <p class="c-matches-section__date mb-0">so 13. 8. 2022</p>
          </div>
          <div
            class="c-matches-section__logos col-md-3 d-flex align-items-center justify-content-center justify-content-lg-start mb-3 mb-lg-0"
          >
            <img src="images/content/logotype.png" loading="lazy" alt="logo" />
            <p>vs</p>
            <img src="images/content/logotype.png" loading="lazy" alt="logo" />
          </div>
          <div
            class="c-matches-section__teams col-md-2 text-center text-lg-left mb-3 mb-lg-0"
          >
            <div class="team1 mb-0">FK Galaktik</div>
            <div class="team2 mb-0">FK Galaktik</div>
          </div>
          <div
            class="c-matches-section__scores col-md-1 lost text-center text-lg-left mb-3 mb-lg-0"
          >
            <div class="score1 mb-0">0</div>
            <div class="score2 mb-0">3</div>
          </div>
          <div class="col-md-3 text-center mb-3 mb-lg-0">
            <a href="#" class="report">Report ze zápasu</a>
          </div>
        </div>
        <div class="c-matches-section__item row align-items-center">
          <div
            class="c-matches-section__info col-md-3 text-center text-lg-left mb-3 mb-lg-0"
          >
            <p class="oznaceni mb-0">2. kolo</p>
            <p class="c-matches-section__date mb-0">so 13. 8. 2022</p>
          </div>
          <div
            class="c-matches-section__logos col-md-3 d-flex align-items-center justify-content-center justify-content-lg-start mb-3 mb-lg-0"
          >
            <img src="images/content/logotype.png" loading="lazy" alt="logo" />
            <p>vs</p>
            <img src="images/content/logotype.png" loading="lazy" alt="logo" />
          </div>
          <div
            class="c-matches-section__teams col-md-2 text-center text-lg-left mb-3 mb-lg-0"
          >
            <div class="team1 mb-0">FK Galaktik</div>
            <div class="team2 mb-0">FK Galaktik</div>
          </div>
          <div
            class="c-matches-section__scores col-md-1 lost text-center text-lg-left mb-3 mb-lg-0"
          >
            <div class="score1 mb-0">0</div>
            <div class="score2 mb-0">3</div>
          </div>
          <div class="col-md-3 text-center mb-3 mb-lg-0">
            <a href="#" class="report">Report ze zápasu</a>
          </div>
        </div>
        <div class="c-matches-section__item row align-items-center">
          <div
            class="c-matches-section__info col-md-3 text-center text-lg-left mb-3 mb-lg-0"
          >
            <p class="oznaceni mb-0">2. kolo</p>
            <p class="c-matches-section__date mb-0">so 13. 8. 2022</p>
          </div>
          <div
            class="c-matches-section__logos col-md-3 d-flex align-items-center justify-content-center justify-content-lg-start mb-3 mb-lg-0"
          >
            <img src="images/content/logotype.png" loading="lazy" alt="logo" />
            <p>vs</p>
            <img src="images/content/logotype.png" loading="lazy" alt="logo" />
          </div>
          <div
            class="c-matches-section__teams col-md-2 text-center text-lg-left mb-3 mb-lg-0"
          >
            <div class="team1 mb-0">FK Galaktik</div>
            <div class="team2 mb-0">FK Galaktik</div>
          </div>
          <div
            class="c-matches-section__scores col-md-1 lost text-center text-lg-left mb-3 mb-lg-0"
          >
            <div class="score1 mb-0">0</div>
            <div class="score2 mb-0">3</div>
          </div>
          <div class="col-md-3 text-center mb-3 mb-lg-0">
            <a href="#" class="report">Report ze zápasu</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
