<article class="post">
  <a href="#" class="post__link">
    <div class="post__img">
      <img src="images/content/clanek.png" loading="lazy" alt="" />
    </div>
    <div class="post__info">
      <div class="date">20. srpna 2022</div>
      <h4 class="h5">Nábor do prípravky</h4>
      <p class="p2">
        Nábor nových členov bude <span class="zero">od 5.9.2016 od 16 h</span> v
        Športovom areáli Galaktik. Nábor bude prebiehať v septembri každý
        pracovný deň <span class="zero">od 16 h do 18 h.</span>
      </p>
    </div>
  </a>
</article>
