<div class="c-article-detail-section">
  <div class="container">
    <div class="o-content">
      <p>
        Main Body – Stuha, kterou je každý z trojice balónků uvázán, aby se
        nevypustil. Očividně je uvázaná dostatečně pevně, protože balónky
        skutečně neucházejí. To ale není nic zvláštního. Překvapit by však mohl
        fakt, že nikdo, snad krom toho, kdo balónky k obloze vypustil, netuší,
        jakou má ona stuha barvu. Je totiž tak lesklá, že za světla se v ní
        odráží nebe a za tmy zase není vidět vůbec. Když svítí slunce tak silně
        jako nyní, tak se stuha třpytí jako kapka rosy a jen málokdo vydrží
        dívat se na ni přímo déle než pár chvil.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim minus
        repudiandae quasi, eaque nesciunt id sint! Maxime veniam at pariatur
        saepe beatae quaerat quas molestias. Tenetur rerum, dolore accusamus
        ipsam ex repellendus ut sunt earum inventore aspernatur et illum
        perspiciatis?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia
        consequuntur inventore voluptatibus magni molestiae dolore blanditiis
        nesciunt facere ad excepturi delectus dolorum ea dignissimos, sint iusto
        nostrum laudantium.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim minus
        repudiandae quasi, eaque nesciunt id sint! Maxime veniam at pariatur
        saepe beatae quaerat quas molestias. Tenetur rerum, dolore accusamus
        ipsam ex repellendus ut sunt earum inventore aspernatur et illum
        perspiciatis?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia
        consequuntur inventore voluptatibus magni molestiae dolore blanditiis
        nesciunt facere ad excepturi delectus dolorum ea dignissimos, sint iusto
        nostrum laudantium.
      </p>
      <q>
        FK Galaktik hlásí před začátkem soutěže další posily. Útočnou fázi
        vyztuží Jozef Červenka, který přichází na hostování z Juventusu Turín.
        Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v
        podzimní části potřebný prostor a své dovednosti bude moct ukázat na
        hostování v třetiligové Dolní Vsi.
        <span>Říkal po zápase trenér domácích</span>
      </q>
      <p>
        Main Body – Stuha, kterou je každý z trojice balónků uvázán, aby se
        nevypustil. Očividně je uvázaná dostatečně pevně, protože balónky
        skutečně neucházejí. To ale není nic zvláštního. Překvapit by však mohl
        fakt, že nikdo, snad krom toho, kdo balónky k obloze vypustil, netuší,
        jakou má ona stuha barvu. Je totiž tak lesklá, že za světla se v ní
        odráží nebe a za tmy zase není vidět vůbec. Když svítí slunce tak silně
        jako nyní, tak se stuha třpytí jako kapka rosy a jen málokdo vydrží
        dívat se na ni přímo déle než pár chvil.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim minus
        repudiandae quasi, eaque nesciunt id sint! Maxime veniam at pariatur
        saepe beatae quaerat quas molestias. Tenetur rerum, dolore accusamus
        ipsam ex repellendus ut sunt earum inventore aspernatur et illum
        perspiciatis?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia
        consequuntur inventore voluptatibus magni molestiae dolore blanditiis
        nesciunt facere ad excepturi delectus dolorum ea dignissimos, sint iusto
        nostrum laudantium.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim minus
        repudiandae quasi, eaque nesciunt id sint! Maxime veniam at pariatur
        saepe beatae quaerat quas molestias. Tenetur rerum, dolore accusamus
        ipsam ex repellendus ut sunt earum inventore aspernatur et illum
        perspiciatis?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia
        consequuntur inventore voluptatibus magni molestiae dolore blanditiis
        nesciunt facere ad excepturi delectus dolorum ea dignissimos, sint iusto
        nostrum laudantium.
      </p>
    </div>
  </div>
</div>
