{% extends "@components/base/base.twig" %} {% set title = "01.0_homepage" %} {%
block main %} {% include "@components/topstory-section/topstory-section.twig" %}
<div class="pub bg-dark p-0">
  <div class="c-container">
    <a href="">
      <img
        src="https://fkgalaktik.esports.cz/adds/db_partners/logos/22.jpeg?1760177504"
        loading="lazy"
        alt=""
      />
    </a>
  </div>
</div>
{# {% include "@components/hp-matches-section/hp-matches-section.twig" %} #} {%
include "@components/hp-posts-section/hp-posts-section.twig" %}
<div class="pub multi-pub bg-dark">
  <div class="container">
    <div class="row gy-6 gx-4 pub-slider">
      <div class="col-lg-4">
        <a href="#">
          <img src="https://picsum.photos/392/160" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#">
          <img src="https://picsum.photos/392/160" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#">
          <img src="https://picsum.photos/392/160" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#">
          <img src="https://picsum.photos/392/160" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#">
          <img src="https://picsum.photos/392/160" loading="lazy" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
{% include "@components/hp-gallery/hp-gallery.twig" %} {% include
"@components/partners/partners.twig" %} {% endblock %}
