{% extends "@components/base/base.twig" %} {% set title = "02.0_static" %} {%
block main %}

<section class="c-static-section pt-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="o-content pb-10">
          <h1>Headline 1.</h1>
          <div class="perex">
            <strong>Perex</strong> Jeden ze zásadních rébusů zimy trenér
            fotbalové Slavie Jindřich Trpišovský definitivně vyřešil. Ví, že za
            týden do prvního jarního kola proti Karviné vyšle na pozici levého
            obránce Srdjana Plavšiče. V generálce proti Baníku Ostrava, který
            červenobílí porazili 4:2, si tuhle myšlenku potvrdil. Srbský driblér
            dal jeden gól a na další dvě branky nahrál. „Předvedl výborný
            výkon,“ lebedil si Trpišovský.
          </div>
          <img
            src="https://via.placeholder.com/1224x530"
            loading="lazy"
            alt=""
          />
          <h2>Headline 2.</h2>
          <h3>Headline 3.</h3>
          <h4>Headline 4.</h4>
          <h5>Headline 5.</h5>
          <h6>Headline 6.</h6>
          <p>
            Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich
            Trpišovský
            <a href="#">definitivně vyřešil</a>
            . Ví, že za týden do prvního <strong>jarního</strong> kola proti
            Karviné vyšle na pozici levého obránce Srdjana Plavšiče. V generálce
            proti Baníku Ostrava, který červenobílí porazili 4:2, si tuhle
            myšlenku potvrdil. Srbský driblér dal jeden gól a na další dvě
            branky nahrál. „Předvedl výborný výkon,“ lebedil si Trpišovský.
          </p>
          <p>
            Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich
            Trpišovský definitivně vyřešil. Ví, že za týden do prvního jarního
            kola proti Karviné vyšle na pozici levého obránce Srdjana Plavšiče.
            V generálce proti Baníku Ostrava, který červenobílí porazili 4:2, si
            tuhle myšlenku potvrdil. Srbský driblér dal jeden gól a na další dvě
            branky nahrál. „Předvedl výborný výkon,“ lebedil si Trpišovský.
          </p>
          <q>
            FK Galaktik hlásí před začátkem soutěže další posily. Útočnou fázi
            vyztuží Jozef Červenka, který přichází na hostování z Juventusu
            Turín. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně
            nedostal v podzimní části potřebný prostor a své dovednosti bude
            moct ukázat na hostování v třetiligové Dolní Vsi.
            <span>Říkal po zápase trenér domácích</span>
          </q>
          <p>
            Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich
            Trpišovský definitivně vyřešil. Ví, že za týden do prvního jarního
            kola proti Karviné vyšle na pozici levého obránce Srdjana Plavšiče.
            V generálce proti Baníku Ostrava, který červenobílí porazili 4:2, si
            tuhle myšlenku potvrdil. Srbský driblér dal jeden gól a na další dvě
            branky nahrál. „Předvedl výborný výkon,“ lebedil si Trpišovský.
          </p>
          <h4>Odrážkový seznam</h4>
          <ul>
            <li>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit
              laborum quia repellendus maxime obcaecati neque perspiciatis ad
              sapiente ipsum error
            </li>
            <li>Lorem, ipsum dolor sit amet</li>
            <li>Lorem, ipsum dolor sit amet</li>
            <li>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit
              laborum quia repellendus maxime obcaecati neque perspiciatis ad
              sapiente ipsum error
            </li>
            <li>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit
              laborum quia repellendus maxime obcaecati neque perspiciatis ad
              sapiente ipsum error
            </li>
            <li>Lorem, ipsum dolor sit amet</li>
          </ul>
          <ol>
            <li>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit
              laborum quia repellendus maxime obcaecati neque perspiciatis ad
              sapiente ipsum error
            </li>
            <li>Lorem, ipsum dolor sit amet</li>
            <li>Lorem, ipsum dolor sit amet</li>
            <li>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit
              laborum quia repellendus maxime obcaecati neque perspiciatis ad
              sapiente ipsum error
            </li>
            <li>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit
              laborum quia repellendus maxime obcaecati neque perspiciatis ad
              sapiente ipsum error
            </li>
            <li>Lorem, ipsum dolor sit amet</li>
          </ol>
          <p>
            Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich
            Trpišovský definitivně vyřešil. Ví, že za týden do prvního jarního
            kola proti Karviné vyšle na pozici levého obránce Srdjana Plavšiče.
            V generálce proti Baníku Ostrava, který červenobílí porazili 4:2, si
            tuhle myšlenku potvrdil. Srbský driblér dal jeden gól a na další dvě
            branky nahrál. „Předvedl výborný výkon,“ lebedil si Trpišovský.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
