{% extends "@components/base/base.twig" %} {% set title = "02.0_static" %} {%
block main %}

<section class="c-static-section pt-section">
  <div class="container">
    <div class="o-content">
      <h1 class="">Headline 1</h1>
      <h2>Headline 2</h2>
      <h3>Headline 3</h3>
      <h4>Headline 4</h4>
      <h5>Headline 5</h5>
      <h6>Headline 6</h6>
      <div class="perex">
        Citace a perex – Lorem, ipsum dolor sit amet consectetur adipisicing
        elit. Fugit laborum quia repellendus maxime obcaecati neque perspiciatis
        ad sapiente ipsum error
      </div>
      <p>
        Main Body – Stuha, kterou je každý z trojice balónků uvázán, aby se
        nevypustil. Očividně je uvázaná dostatečně pevně, protože balónky
        skutečně neucházejí. To ale není nic zvláštního. Překvapit by však mohl
        fakt, že nikdo, snad krom toho, kdo balónky k obloze vypustil, netuší,
        jakou má ona stuha barvu. Je totiž tak lesklá, že za světla se v ní
        odráží nebe a za tmy zase není vidět vůbec. Když svítí slunce tak silně
        jako nyní, tak se stuha třpytí jako kapka rosy a jen málokdo vydrží
        dívat se na ni přímo déle než pár chvil.
      </p>
      <img src="images/content/clanek.png" loading="lazy" alt="" />
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim minus
        repudiandae quasi, eaque nesciunt id sint! Maxime veniam at pariatur
        saepe beatae quaerat quas molestias. Tenetur rerum, dolore accusamus
        ipsam ex repellendus ut sunt earum inventore aspernatur et illum
        perspiciatis? Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Officia consequuntur inventore voluptatibus magni molestiae dolore
        blanditiis nesciunt facere ad excepturi delectus dolorum ea dignissimos,
        sint iusto nostrum laudantium.
      </p>
      <h4>Odrážkový seznam</h4>
      <ul>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit
          laborum quia repellendus maxime obcaecati neque perspiciatis ad
          sapiente ipsum error
        </li>
        <li>Lorem, ipsum dolor sit amet</li>
        <li>Lorem, ipsum dolor sit amet</li>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit
          laborum quia repellendus maxime obcaecati neque perspiciatis ad
          sapiente ipsum error
        </li>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit
          laborum quia repellendus maxime obcaecati neque perspiciatis ad
          sapiente ipsum error
        </li>
        <li>Lorem, ipsum dolor sit amet</li>
      </ul>
      <ol>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit
          laborum quia repellendus maxime obcaecati neque perspiciatis ad
          sapiente ipsum error
        </li>
        <li>Lorem, ipsum dolor sit amet</li>
        <li>Lorem, ipsum dolor sit amet</li>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit
          laborum quia repellendus maxime obcaecati neque perspiciatis ad
          sapiente ipsum error
        </li>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit
          laborum quia repellendus maxime obcaecati neque perspiciatis ad
          sapiente ipsum error
        </li>
        <li>Lorem, ipsum dolor sit amet</li>
      </ol>
    </div>
  </div>
</section>

{% endblock %}
