<section class="c-topstory-section bg-dark">
  <div class="c-topstory-section__inner">
    <div class="c-topstory-section__item--main c-topstory-section__item">
      <a class="c-topstory-section__img" href="#">
        <img src="images/content/clanek.png" loading="lazy" alt="" />
        <div class="c-topstory-section__info">
          <div class="c-topstory-section__info-box">
            <div class="date">20.srpna 2022</div>
            <h1 class="h1">Nábor do prípravky</h1>
            <p>
              Nábor nových členov bude
              <span class="zero">od 5.9.2016 do 16 h.</span> v Športovom areáli
              Galaktik. Nábor bude prebiehať v septembri každý pracovný deň
              <span class="zero">od 16 h do 18 h.</span>
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="c-topstory-section__col">
      <div class="c-topstory-section__item">
        <a class="c-topstory-section__img" href="#">
          <img src="images/content/clanek2.png" loading="lazy" alt="" />
          <div class="c-topstory-section__info">
            <div class="c-topstory-section__info-box">
              <div class="date">20. srpna 2022</div>
              <h2 class="h2">Nábor do prípravky</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="c-topstory-section__item">
        <a class="c-topstory-section__img" href="#">
          <img src="images/content/clanek3.png" loading="lazy" alt="" />
          <div class="c-topstory-section__info">
            <div class="c-topstory-section__info-box">
              <div class="date">20. srpna 2022</div>
              <h2 class="h2">Nábor do prípravky</h2>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
