<section class="hp-matches-section bg-dark bb-section">
  <div class="container">
    <div class="row gx-4 gy-10">
      <div class="col-xl-6">{% include "@components/match/match.twig" %}</div>
      <div class="col-xl-6">
        <a href="#" class="c-match">
          <div class="category bg-white">Následující zápas</div>
          <div class="c-match__logos">
            <div class="c-match__logo galaktik">
              <img src="images/content/logo1.png" loading="lazy" alt="logo" />
            </div>
            <div class="c-match__logo">
              <img src="images/content/pard.png" loading="lazy" alt="logo" />
            </div>
          </div>
          <div class="c-match__inner">
            <ul>
              <li>14. dubna 2022</li>
              <li>II.liga-SŽ-U15-Východ - 1. kolo</li>
            </ul>
            <div class="c-match__info">
              <div class="c-match__info-teams">
                <h3 class="h5">FK Galaktik</h3>
                <h3 class="h5">ŠK Odeva Lipany</h3>
              </div>
              <div class="c-match__result num">10:00</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
