<section class="c-gallery-section bb-section">
  <div class="container">
    <div class="row gx-10">
      <div class="col-xl-8">
        <h1 class="h1 mb-8">Fotogalerie</h1>
        <div class="header-section__row">
          <form action="" class="header-section__form">
            <div class="row gy-6">
              <div class="col-12">
                <label class="header-section__input">
                  <input type="text" placeholder="Hledat v albech..." />
                </label>
              </div>
              <div class="col-sm-5">
                <label class="o-select header-section__label">
                  <select class="js-select">
                    <option>Kategorie</option>
                    <option>Kategorie 1</option>
                    <option>Kategorie 2</option>
                    <option>Kategorie 3</option>
                    <option>Kategorie 4</option>
                  </select>
                </label>
              </div>
              <div class="col-sm-5">
                <label class="o-select header-section__label">
                  <select class="js-select">
                    <option>Sezóna</option>
                    <option>Sezóna 1</option>
                    <option>Sezóna 2</option>
                    <option>Sezóna 3</option>
                    <option>Sezóna 4</option>
                    <option>Sezóna 5</option>
                    <option>Sezóna 6</option>
                  </select>
                </label>
              </div>
              <div class="col-sm-2 col-12">
                <button class="btn">Hledat</button>
              </div>
            </div>
          </form>
        </div>
        <div class="row gy-6 mb-8">
          <div class="col-sm-6">
            <article class="post">
              <a
                href="#"
                class="post__link"
                data-gallery="1"
                data-gallery-id="1"
              >
                <div class="post__img">
                  <img src="images/content/clanek.png" loading="lazy" alt="" />
                </div>
                <div class="post__info">
                  <div class="date">20. srpna 2022</div>
                  <h4 class="h5">Nábor do prípravky</h4>
                </div>
              </a>
            </article>
          </div>
          <div class="col-sm-6">
            <article class="post">
              <a
                href="#"
                class="post__link"
                data-gallery="1"
                data-gallery-id="1"
              >
                <div class="post__img">
                  <img src="images/content/clanek.png" loading="lazy" alt="" />
                </div>
                <div class="post__info">
                  <div class="date">20. srpna 2022</div>
                  <h4 class="h5">Nábor do prípravky</h4>
                </div>
              </a>
            </article>
          </div>
          <div class="col-sm-6">
            <article class="post">
              <a
                href="#"
                class="post__link"
                data-gallery="1"
                data-gallery-id="1"
              >
                <div class="post__img">
                  <img src="images/content/clanek.png" loading="lazy" alt="" />
                </div>
                <div class="post__info">
                  <div class="date">20. srpna 2022</div>
                  <h4 class="h5">Nábor do prípravky</h4>
                </div>
              </a>
            </article>
          </div>
          <div class="col-sm-6">
            <article class="post">
              <a
                href="#"
                class="post__link"
                data-gallery="1"
                data-gallery-id="1"
              >
                <div class="post__img">
                  <img src="images/content/clanek.png" loading="lazy" alt="" />
                </div>
                <div class="post__info">
                  <div class="date">20. srpna 2022</div>
                  <h4 class="h5">Nábor do prípravky</h4>
                </div>
              </a>
            </article>
          </div>
          <div class="col-sm-6">
            <article class="post">
              <a
                href="#"
                class="post__link"
                data-gallery="1"
                data-gallery-id="1"
              >
                <div class="post__img">
                  <img src="images/content/clanek.png" loading="lazy" alt="" />
                </div>
                <div class="post__info">
                  <div class="date">20. srpna 2022</div>
                  <h4 class="h5">Nábor do prípravky</h4>
                </div>
              </a>
            </article>
          </div>
        </div>
        <nav aria-label="Další stránky">
          <ul
            class="pagination d-flex flex-wrap pagination-flat pagination-success"
          >
            <li class="page-item active">
              <a class="page-link" href="#" data-abc="true">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true"> »</a>
            </li>
          </ul>
        </nav>
      </div>
      {% include "@components/aside/aside.twig" %}
    </div>
  </div>
</section>
